/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.user-avatar{
    width: 35px;
    height: 35px;
    border-radius: 10px;
    border: 1px solid #ccc;
}
.avatar{
    position: absolute;
    left: -28px;
    top: -28px;
    width: 60px;
    border-radius: 100% ;
    border-width: 4px;
    border-style: solid;
    padding: 0px !important;
    margin: 0px;
    height:60px;
    /*border-right: none;
    border-bottom: none;*/
    /*border: 3px solid #060;*/
}

.fc-event {
	border-radius: 10% !important;
	padding: 5px !important;
	font-size: 12px !important;
}

.fc-event-title{
    /*word-break: break-all;*/
	overflow: hidden;
	white-space:  normal;
	text-overflow: ellipsis;
	display: block;

    z-index: 100;
}

.content-box .content-box-wrapper {
	padding: 0px;
}

.tile-content-wrapper > .glyph-icon {
    font-size: 65px !important;
}

.col-md-3, .col-md-4 {
    margin-bottom: 5px !important;
}





.btn{
    padding:1px 8px;
}




label{
  font-weight: bold;
}

#page-header-wrapper{
    /*padding-top:10px !important;*/
    padding-right: 10px;
}
#page-header-wrapper .btn-group{
    margin-top:10px;
    margin-right: 10px; 
}

#page-header .top-icon-bar a.user-ico span, #page-header .top-icon-bar a.user-ico i{
    color: white;
}
#page-header .top-icon-bar a.user-ico img{
    width: 36px;
    height: 36px;
    border-radius: 5px;
}

#sidebar-menu li ul li a:hover, #sidebar-menu li ul li.current-page a,
#sidebar-menu li a{
    text-decoration: none;
}


.profile-box .content-box-header img{
    border: 1px solid #c1cad5;
    border-radius: 3px;
}


.table th i{
    font-size: 28px;
}



.text-black{
    color: black !important;
}
.text-primary{
    color: #37485d !important;
}
.badge-red{
    background-color: red !important;
}
.badge-warning{
    background-color: #f0ad4e !important;
}



.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.truncate-15{
    width: 15em; 
}

.center-div{
    margin: 0px auto;
}

.width-12{
    width: 90% !important;
}
.width-6{
    width: 30% !important;
}
.width-50px{
    width: 50px !important;
}

#seach-container{
    background-color: #c1cad5;
}

.search-input{
    width: 200px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 5px 10px;
}

/*#header-logo img {
    width: 180px;
}*/

#sidebar-search{
    /*padding-top: 10px !important;*/
}

#responsive-open-menu{
    display: none !important;
}
#header-logo img {
      width: 120px;
    }
}
/*media querys*/


@media (max-width: 1068px){
    #responsive-open-menu{
        display: none !important;
    }
    #header-logo img {
      width: 110px;
    }
}

@media (max-width: 960px){
    #responsive-open-menu{
        display: none !important;
    }
    #header-logo img {
      width: 100px;
    }
    .search-input{
        width: 130px;
    }
}
@media (max-width: 854px){
    #responsive-open-menu{
        display: none !important;
    }
    #header-logo img {
      width: 90px;
    }
}
@media (max-width: 747px){
    #responsive-open-menu{
        display: none !important;
    }
    #header-logo img {
      width: 80px;
    }
}
@media (max-width: 640px){
    #responsive-open-menu{
        display: block !important;
    }
    #header-logo img {
      width: 180px;
    }
    .search-input{
        width: 90%;
    }
}



/*@media (max-width: 640px) {
  #header-logo img {
    width: 10px;
  }
}*/


/**/

.easyWizardSteps li {font-size:18px;display:inline-block;padding:10px;color:#B0B1B3;margin-right:20px;}
.easyWizardSteps li span {font-size:24px}
.easyWizardSteps li.current {color:#000}
.easyWizardButtons {overflow:hidden;padding:10px;}
.easyWizardButtons button, .easyWizardButtons .submit {cursor:pointer}
.easyWizardButtons .prev {float:left}
.easyWizardButtons .next, .easyWizardButtons .submit {float:right}
