/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.avatar{
    position: absolute;
    left: -28px;
    top: -28px;
    width: 60px;
    border-radius: 100% ;
    border-width: 4px;
    border-style: solid;
    padding: 0px !important;
    margin: 0px;
    height:60px;
    /*border-right: none;
    border-bottom: none;*/
    /*border: 3px solid #060;*/
}

.fc-event {
	border-radius: 10% !important;
	padding: 5px !important;
	font-size: 12px !important;
}

.fc-event-title{
    /*word-break: break-all;*/
	overflow: hidden;
	white-space:  normal;
	text-overflow: ellipsis;
	display: block;

    z-index: 100;
}

.content-box .content-box-wrapper {
	padding: 0px;
}

.tile-content-wrapper > .glyph-icon {
    font-size: 65px !important;
}

.col-md-3, .col-md-4 {
    margin-bottom: 5px !important;
}





.btn{
    padding:1px 8px;
}





label{
  font-weight: bold;
}

#page-header-wrapper{
    /*padding-top:10px !important;*/
    padding-right: 10px;
}
#page-header-wrapper .btn-group{
    margin-top:10px;
    margin-right: 10px; 
}

#page-header .top-icon-bar a.user-ico span, #page-header .top-icon-bar a.user-ico i{
    color: white;
}
#page-header .top-icon-bar a.user-ico img{
    width: 36px;
    height: 36px;
    border-radius: 5px;
}

#sidebar-menu li ul li a:hover, #sidebar-menu li ul li.current-page a,
#sidebar-menu li a{
    text-decoration: none;
}


.profile-box .content-box-header img{
    border: 1px solid #c1cad5;
    border-radius: 3px;
}






.text-black{
    color: black !important;
}.text-primary{
    color: #37485d !important;
}





/**/

.easyWizardSteps li {font-size:18px;display:inline-block;padding:10px;color:#B0B1B3;margin-right:20px;}
.easyWizardSteps li span {font-size:24px}
.easyWizardSteps li.current {color:#000}
.easyWizardButtons {overflow:hidden;padding:10px;}
.easyWizardButtons button, .easyWizardButtons .submit {cursor:pointer}
.easyWizardButtons .prev {float:left}
.easyWizardButtons .next, .easyWizardButtons .submit {float:right}
