.alert {
    margin-left: 15px;
    padding-left: 30px;
    position: relative;
}
.alert {
    border: 1px solid transparent;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 15px;
}
.alert h4 {
    color: inherit;
    margin-top: 0;
}
.alert .alert-link {
    font-weight: bold;
}
.alert > p, .alert > ul {
    margin-bottom: 0;
}
.alert > p + p {
    margin-top: 5px;
}
.alert-dismissable {
    padding-right: 35px;
}
.alert-dismissable .close {
    color: inherit;
    position: relative;
    right: -21px;
    top: -2px;
}
.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
}
.alert-success hr {
    border-top-color: #c9e2b3;
}
.alert-success .alert-link {
    color: #2b542c;
}
.alert-info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
}
.alert-info hr {
    border-top-color: #a6e1ec;
}
.alert-info .alert-link {
    color: #245269;
}
.alert-warning {
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b;
}
.alert-warning hr {
    border-top-color: #f7e1b5;
}
.alert-warning .alert-link {
    color: #66512c;
}
.alert-danger {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}
.alert-danger hr {
    border-top-color: #e4b9c0;
}
.alert-danger .alert-link {
    color: #843534;
}

















/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.avatar{
    position: absolute;
    left: -30px;
    top: -30px;
    width: 60px;
    border-radius: 100% ;
    border-width: 4px;
    border-style: solid;
    padding: 0px !important;
    margin: 0px;
    /*border-right: none;
    border-bottom: none;*/
    /*border: 3px solid #060;*/
}

.fc-event {
	border-radius: 10% !important;
	padding: 5px !important;
	font-size: 12px !important;
}

.fc-event-title{
    /*word-break: break-all;*/
	overflow: hidden;
	white-space:  normal;
	text-overflow: ellipsis;
	display: block;

    z-index: 100;
}

.content-box .content-box-wrapper {
	padding: 0px;
}

.tile-content-wrapper > .glyph-icon {
    font-size: 65px !important;
}

.col-md-3, .col-md-4 {
    margin-bottom: 5px !important;
}





.btn{
    padding:1px 8px;
}
